
<h1 class="mt-4">Kedicikler sayfasına hoş geldin cınım!!</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<p>Merhaba miyav myaavvvv env</p>
<div class="media">
    <img src="images/british_shorthair.jpg" class="mr-3" alt="..." width="150" height="150">
    <div class="media-body">
      <h5 class="mt-0">British Shorthair</h5>
      British Shorthair Büyük Britanya kökenli bir kedi ırkıdır. En yaygın renk "British Blue" ve bakır renkte gözlerdir.
    </div>
  </div>
  <br>
  <div class="media">
    <img src="images/fars.jpg" class="mr-3" alt="..." width="150" height="150">
    <div class="media-body">
      <h5 class="mt-0">Fars</h5>
      Fars kedisi, yuvarlak yüzü ve ufak ağzıyla ayırt edilen uzun tüylü bir kedi cinsidir. İran üzerinden dünyaya dağılımı Horasan'dan ihraç edilen kedilerin 1620'li yıllarda Pietro della Valle tarafından Ankara üzerinden İtalya'ya gelmesiyle başlamıştır.
    </div>
  </div>
  <div class="media">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0">Media heading</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </div>
<a href="/user/logout" class="btn btn-secondary">Logout</a>


