

<div class="logout" ><a href="/user/logout" class="btn btn-secondary ">Logout</a></div>



<div class="container">
  <div class="row">
    <div class="col-11 baslik"><h1 >Marmara Üniversitesi Teknoloji Fakültesi<br> Uzaktan Eğitim Laboratuvarı</h1></div>
  </div>
  <div class="row">
    <div class="col-12 icerik"><p class="lead mb-2 ">Hoşgeldiniz <%= user.name %> Gant-512 ile gerçekleştireceğiniz deney öncesi labaratuvar kullanım koşullarını
      okuyunuz. Laboratuvar'ın size ayrılan süresi 19:00-19:30 arasıdır.</p></div>
    

  </div>
  <div class="row led">
    <div class="col-12 custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="" >
      <label class="custom-control-label" for="customSwitch1">Led 1</label></div>
    
  </div>
  <br>
  <div class="row led">
    <div class="col-12">
      <input class="swt" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-size="small">
    
  </div>
</div>
</div>



  









