

<div class="logout" ><a href="/user/logout" class="btn btn-secondary ">Logout</a></div>



<div class="container">
  <div class="row">
    <div class="col-11 baslik"><h1 >Uzak Labrauvar Randevu Kontrol Sayfası</h1></div>
  </div>
  <form action="/user/randevukontrol" method="POST">
    <div class="form-group">
      <label for="time">Saat</label>
      <input
        type="datetime-local"
        id="time"
        name="time"
        class="form-control"
        placeholder="Randevu Saati"
        value=""
        
      />
    </div>  
    <br>
  
    <button type="submit" class="btn btn-primary btn-block">
      Kontrol Et
    </button>
    
      
      
      
      
    </form>
  
</div>




  









